# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
/bin/
/vendor/
ToT

# Test binary
*.test

# Code coverage
*.out

# Dependency management
# vendor/

# Go workspace
go.work
go.work.sum

# Editor/IDE
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.tmp

# Environment
.env
